<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<!-- <link rel="stylesheet"
	th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}"> -->
<link th:rel="stylesheet" th:href="@{/admin/plugins/select2/select2.min.css}">
<link rel="stylesheet" th:href="@{/admin/dist/css/adminlte.min.css}">
<link rel="stylesheet" th:href="@{/admin/css/font.css}">

<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"
    integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>


<script href="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<link th:href="@{/admin/plugins/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
<!-- <script th:src="@{/admin/javascript/utills.js}"></script> -->

<link th:href="@{/admin/css/tabview.css}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css" rel="stylesheet">
<style>
    th {
        text-align: center;
    }
</style>

<head>
    <title th:text="${title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/plugins/jquery/jquery.js}"></script>
    <script th:src="@{/admin/plugins/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/admin/plugins/datatables/dataTables.bootstrap4.js}"></script>
    <script th:src="@{/admin/javascript/generalValidation.js}"></script>
    <script th:src="@{/admin/javascript/crud.js}"></script>
    <script th:src="@{/admin/javascript/common.js}"></script>
    <script th:src="@{/admin/javascript/common_validation.js}"></script>
    <script th:src="@{/admin/javascript/jquery.table2excel.js}"></script>
    <script th:src="@{/admin/javascript/generateComponents.js}"></script>
    <script th:src="@{/admin/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
        <link rel="stylesheet" th:href="@{/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}">
        <!-- <script th:src="@{/admin/plugins/ckeditor/ckeditor.js}"></script> -->
        <script th:src="@{/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
        <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a></li>
            <li class="nav-item d-none d-sm-inline-block"><a href="db.jsp" class="nav-link">Home</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#"> <i class="fa fa-bell-o"
                        id="bell-option"></i> <span class="badge badge-warning navbar-badge text-white" id="not-number"
                        style="font-weight: 600 !important;">0</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">Notifications</span>
                    <div class="dropdown-body" id="notifications">
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"> <i class="fa fa-file mr-2"></i>
                            3 new circulars <span class="float-right text-muted text-sm">2
                                days</span>
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See More</a>
                </div>
            </li>
            <li class="nav-item  nav-link"><span class="username d-flex">Hello,
                    <label text=""></label>
                    <p text="" id="sessionInstId" style="display: none;"></p> <a href="/logout" class="ml-3" id="logout"
                        style="color: #dc3545 !important;"> <i class="fa fa-power-off"></i>

                    </a>
                </span></li>
        </ul>

    </nav>
    <!-- /.navbar ---- Header-->

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link"> <img th:src="@{/admin/app-assets/image/logo/logo5.png}" alt="branding logo"
                class="brand-image img-circle elevation-3" style="opacity: .8"> <span
                class="brand-text font-weight-light">COGENT</span>
        </a>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
               <!-- <div th:each="menus: ${session.menulist}">
                    <div th:if="${menus.parentId==0}">
                       <div th:each="subMenus: ${session.menulist}">
                            <div th:if="${subMenus.parentId==menus.menuId }">
                                <div th:with="count=${1}"></div>
                            </div>
                        </div>
                        <div th:if="${count ==1 }">
                            <li class="nav-item has-treeview">
                                <a th:href="${menus.url}" class="nav-link">
                                    <i th:class="${menus.icon}"></i>
                                    <p th:text="${menus.name}">
                                        <i class="right fa fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                     <div th:each="subMenus: ${session.menulist}">
                                        <div th:if="${subMenus.parentId == menus.menuId }">
                                            <li class="nav-item">
                                                <a th:href="${subMenus.url}" class="nav-link"> <i
                                                        th:class="${submenu.icon}"></i>
                                                    <p th:text="${submenu.name}"></p>
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                        </div>
                        <!-- <div th:if="${1!=1 }">
                            <li class="nav-item has-treeview">
                                <a th:href="${menus.url}" class="nav-link">
                                    <i th:class="${menus.icon}"></i>
                                    <p th:text="${menus.name}"></p>
                                </a>
                            </li>
                        </div>
                    </div>
                </div>  -->

                 <td th:each="menus: ${session.menulist}">
                    <li class="nav-item has-treeview">
                        <a th:href="${menus.url}" class="nav-link">
                            <i th:class="${menus.icon}"></i>
                            <p th:text="${menus.name}"></p>
                        </a>
                    </li>
                </td> 
            </ul>
        </nav>
    </aside>
</head>

<body>


    <div class="wrapper">
        <div class="content-wrapper pt-2 pb-2">
            <section th:replace="${content}"></section>
        </div>
    </div>
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 1.0.0
        </div>
        Copyright &copy2020 All rights reserved | <strong>Education
            Department, Government Of Gujarat.</strong>
    </footer>
</body>

<script type="text/javascript">

    var ctx = "${pageContext.request.contextPath}";
    $(document).ready(function () {
        setTimeout(() => {
            //loadTable(substractDayFromDate(7), curruntDate());
        }, 1000);

        // fetchFacultyName();
        //
        //alert(substractDayFromDate(7));
    });
    function countDaysBetweenDates(d1, d2) {
        var date1 = new Date(d1);
        var date2 = new Date(d2);
        var Difference_In_Time = date2.getTime() - date1.getTime();
        var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
    }
    function dateformat(d, flag) {
        var dtToday = new Date(d);
        var month = dtToday.getMonth() + 1;     // getMonth() is zero-based
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        var hour = dtToday.getHours();
        var minutes = dtToday.getMinutes();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        if (hour < 10)
            hour = '0' + hour.toString();
        if (minutes < 10)
            minutes = '0' + minutes.toString();
        var maxDate = "";
        var date2 = new Date();
        var diffTime = date2.getTime() - dtToday.getTime();
        diffTime = diffTime / (1000 * 3600 * 24);
        if (flag) {
            if (diffTime <= 7) maxDate = "<span class='badge badge-secondary'>New</span> ";
            /* maxDate = day + '-' + month + '-' + year +" <b>("+hour+":"+minutes+")</b>";		   */
        }
        else {
            maxDate = maxDate + day + '-' + month + '-' + year;
        }
        return maxDate;
    }
    function substractDayFromDate(days) {
        var date = new Date();
        var last = new Date(date.getTime() - (days * 24 * 60 * 60 * 1000));
        var day = last.getDate();
        var month = last.getMonth() + 1;
        var year = last.getFullYear();
        var output = year + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            (day < 10 ? '0' : '') + day;
        return output;
    }
    var curruntDate = function () {
        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var output = d.getFullYear() + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            (day < 10 ? '0' : '') + day;
        return output;
    }
    var loadTable = function (fdate, tdate) {

        $.ajax({
            url: "searchdoc", type: "POST", dataType: "JSON",
            data: {
                "indoctitle": "", "docfdate": fdate, "doctdate": tdate,
                "selissueauthority": "", "seldoctype": "", "selconbranch": "",
                "selsubject": "", "freesearchinput": "", "instypeid": $("#InsType").val()
            },

            success: function (data, status, jqXHR) {
                $("#notifications").empty();
                if (data.success) {
                    $("#not-number").empty();
                    $("#not-number").append(data.doclist.length);
                    if (data.doclist.length > 0) $("#bell-option").addClass("bell");
                    $.each(data.doclist.slice(0, 5), function (index, value) {
                        $("#notifications").append('<div class="dropdown-divider"></div>'
                            + '<a href="downloaddoc?id=' + value.id + '" class="dropdown-item">'
                            + ' <i class="fa fa-file mr-2"></i>' + value.doc_name
                            + ' <span class="float-right text-muted text-sm">' + dateformat(value.doc_date, false) + '</span>');
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Something really bad happened " + textStatus);
                $("#ajaxResponse").html(jqXHR.responseText);
            }
        });
    }

    function showSAlert(_icon, _title, _text, _btext, _from) {
        Swal.fire({
            title: _title,
            text: _text,
            icon: _icon,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: _btext
        }).then((result) => {
            if (result.isConfirmed) {
                if (_from == "logout") {
                    $.ajax({
                        type: 'PUT',
                        url: "/logout",
                        success: function (data) {
                            if (data.success == 1) {
                                window.location.href = "https://gujgov.edu.in/";
                            } else {
                                Swal.fire({
                                    title: 'ERROR',
                                    html: data.message,
                                    icon: 'error',
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: "OK",
                                    closeOnConfirm: false,
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.value) {

                                    }
                                })
                                // alert(data.message);
                            }
                        },
                        error: function (xhr) {
                            console.log("Inside error");
                        }

                    });
                }
            }
            else { }

        })
    }
    $(document).ready(function (e) {
        $("#logout").on('click', function (e) {
            e.preventDefault();
            showSAlert('question', 'Are you sure you want to Logout?', '', 'Logout', 'logout');
        });
    });
    (function blink() {
        $('.blink_me').fadeOut(500).fadeIn(500, blink);
    })();

</script>


</html>