<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">

<head>
	<meta charset="utf-8">
</head>

<body>
	<section class="content">
	<section class="content">
		<form action="/admin/clgdetail" method="POST" enctype="multipart/form-data">
			<input type="hidden" id="hiddenId" name="hiddenId" value="0"> 
			<section class="content">
				<div id="alertMessage"></div>
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title" th:text="${collegeName}"></h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<div class="row justify-content-around">
							<label class="control-label" id="c2Field2">College Image
								<span class="required" id="requiredClgImg"><font color="red">*</font></span>
							</label>
							 
							<div class="col-md-5 border p-2 m-1">
								<div class="row m-2">
									<div class="col-md-4">
										<img src="https://www.w3schools.com/images/picture.jpg" height="100px" width="100px">
									</div>
									<div class="col-md-8">
										<input type="file" class="form-control" id="clgImg" name="clgImg"
											onchange="validateImage(this.id)" required>
										<div id="clgImgAlert" class="text-danger"></div>
									</div>
								</div>
							</div>
							<div class="col-md-5 border p-2 m-1">
								<div class="row justify-content-between">
									<div class="col-md-4">
										<img src="https://www.w3schools.com/images/picture.jpg" height="100px" width="100px">
									</div>
			
									<div class="col-md-8">
										<label class="control-label" id="c2Field2">Principal
											Image<span class="required" id="principalImgl"><font color="red">*</font></span></label> 
											<input type="file" class="form-control" id="princiaplImg"
											name="princiaplImg" onchange="validateImage(this.id)" required>
											<div id="principalImglAlert" class="text-danger"></div>
										<!-- <div class="mt-2 text-right">
											<span class='d-flex'><i id="deleteDetail" class="fa fa-trash-o fatbl text-danger btn btn-link" data-toggle="tooltip" title="Delete Detail" style="font-size:20px;" onclick="deleteDetail()"></i></span>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title"></h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
							<div class="row">
								<div class="col-md">
									<label class="control-label">College Name</label> <span class="required">
										<font color="red">*</font>
									</span> <input type="text" class="form-control" id="collegeName" name="collegeName"
										placeholder="College name" readonly>
								</div>
								<div class="col-md">
									<label class="control-label">Course Name</label> <span class="required">
										<font color="red">*</font>
									</span> <input type="text" class="form-control" id="course" name="course"
										placeholder="Enter course" required>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-md">
									<label class="control-label">Address</label> <span class="required">
										<font color="red">*</font>
									</span>
									<textarea class="form-control" id="address" name="address" readonly
										placeholder="College Address"></textarea>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-md">
									<label class="control-label">Contact No</label> <span class="required">
										<font color="red">*</font>
									</span> <input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact no."
										readonly>
								</div>
								<div class="col-md">
									<label class="control-label">Email</label> <span class="required">
										<font color="red">*</font>
									</span> <input type="email" class="form-control" id="email" name="email" placeholder="Email"
										readonly>
								</div>
								<div class="col-md">
									<label class="control-label">Web Site Address</label> <span class="required">
										<font color="red">*</font>
									</span> <input type="email" class="form-control" id="website" name="website"
										placeholder="Web Site" readonly>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-md-4">
									<label class="control-label">Google Map URL</label> 
									<span class="required"><font color="red">*</font></span> 
									<input type="text" class="form-control" id="googleMapURL" name="googleMapURL"
										placeholder="Enter url" required maxlength="1000">
								</div>
								<div class="col-md-8">
									<label class="control-label" id="c1Field1">About College</label>
									<span class="required">
										<font color="red">*</font>
									</span>
									<div class="box-body pad">
										<textarea id="about" name="about" rows="10" cols="80" 
										maxlength="1000"	required="required">
												Enter college about details.
										</textarea>
									</div>
								</div>
							</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title" id="c1"></h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>

					<div class="card-body table-responsive">
						<div class="row">
							<div class="col-md-4">
								<label class="control-label">Principal Title</label> <span class="required">
									<font color="red">*</font>
								</span> <input type="text" class="form-control" id="principalTitle"
									name="principalTitle" placeholder="Enter Title" required>
							</div>
							<div class="col-md-8">
								<label class="control-label" id="c1Field1">PrincipalMsg</label>
								<span class="required">
									<font color="red">*</font>
								</span>
								<div class="box-body pad">
									<textarea id="principalMsg" name="principalMsg" rows="10" cols="80"
										required="required" maxlength="1000">
										Enter principal message.
									</textarea>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<div class="text-center mt-2">
				<button class="btn btn-info" id="btnsubmit" type="submit">Save</button>
			</div>
		</form>
		<script th:src="@{/admin/javascript/college_detail.js}"></script>
		<script>
			$(document).ready(function () {
				CKEDITOR.replace('principalMsg');
				CKEDITOR.replace('about');
			});
		</script>
	</section>
</section>
</body>

</html>