<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">

<head>
	<meta charset="utf-8">
	<title>Upload Information</title>
</head>

<body>
	<section class="content" id="mainSection">
		<form action="/admin/info" method="post">
		<input type="hidden" id="pageInstMpgId" name="pageInstMpgId" value="0">
			<section class="content">
				<div id="alertMessage"></div>
				<div><span th:text="${successMessage}"></span></div>
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title">Upload Information</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<label class="control-label">Program Name</label> <span class="required">
									<font color="red">*</font></span> 
								<select id="pageId" name="pageId" class="form-control" required="required">
								</select>
								<div id="programAlert" style="color: red;"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="content" id="s1">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title" id="c1"></h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>

					<div class="card-body table-responsive">
						<div class="row">
							<div class="col-md-12">
								<label class="control-label" id="c1Field1">Program Name</label>
								<span class="required">
									<font color="red">*</font>
								</span>
								<div class="box-body pad mt-3">
									<textarea id="description" name="description" rows="10" cols="80"
										required="required" maxlength="1000">
	                    			</textarea>
								</div>
							</div>
						</div>
						<div class="text-center mt-2">
							<button class="btn btn-info" id="btnsubmit">Save</button>
						</div>
					</div>
				</div>
			</section>
		</form>
		<section class="content">
			<div class="card card-default">
				<div class="card-header">
					<h3 class="card-title" id="c2">Upload RTI</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool collapsed" data-widget="collapse">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>

				<div class="card-body table-responsive">
					<form action="/admin/infoDetail" method="post" enctype="multipart/form-data"
						onsubmit="return detailFormValidate()">
						<input type="hidden" id="pageInstMpngId" name="pageInstMpgId">
						<div class="row">
							<div class="col-md-6">
								<label class="control-label" id="c2Field1">RTI Title</label> <span class="required">
									<font color="red">*</font>
								</span> <input type="text" class="form-control" id="docTitle" name="docTitle"
									placeholder="Event Category" required>
							</div>
							<div class="col-md-6">
								<label class="control-label" id="c2Field2">Upload file</label>
								<span class="required">
									<font color="red">*</font>
								</span> <input type="file"
									class="form-control" id="infoDoc" name="infoDoc" onchange="validateImage(this.id)"
									required>
							</div>
						</div>
						<div class="mt-3 text-center">
							<button class="btn btn-info" id="c2Button">Upload Gallery Photos</button>
						</div>
					</form>
					<div class="row mt-3 text-center">
						<table id="dtbl1" class="table table-hover table-bordered" style="width: 100%;">
						</table>
					</div>

				</div>
			</div>
		</section>
		<section class="content">
			<div class="card card-default">
				<div class="card-header">
					<h3 class="card-title">Information Details</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-default"
							onclick="tblexport('detailTbl', '4', 'Information Details')">Export
							to Excel</button>
					</div>
				</div>

				<div class="card-body  table-responsive">
					<table id="detailTbl" class="table table-hover table-bordered" style="width: 100%;">
					</table>
				</div>
			</div>
		</section>
		<script th:src="@{/admin/javascript/info.js}"></script>
		<script>
			$(document).ready(function () {
				CKEDITOR.replace('description');
			});
		</script>
	</section>
</body>

</html>