#faculty_history_table {
  table-layout: fixed;
  width: 100% !important;
  word-break: break-all; /* IE supports this */
  word-break: break-word;
}
#faculty_history_table td,
#faculty_history_table th{
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}