#backlog_table {
  table-layout: fixed;
  width: 100% !important;
  word-break: break-all; /* IE supports this */
  word-break: break-word;
}
#backlog_table td,
#backlog_table th{
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}