.bs-stepper .step-trigger{
		display: block !important;
	}
	.bs-stepper .step-trigger{
		padding: 0px !important;
		padding-top: 20px !important;
		
	}	
	.active .bs-stepper-circle{
		background: green !important; 
	}
	.active .bs-stepper-label{
		color: green !important; 
	}
	.pending .bs-stepper-circle{
		background: #ffc107 !important; 
	}
	.pending .bs-stepper-label{
		color: #ffc107 !important; 
	}
	.pending i{
		color: #000 !important;
	}
	.y{
		background:  #ffc107 !important; 
	}
	.g{
		background:  green !important; 
	}	
	.bs-stepper-circle{
	
	font-size:25px;
	}
	.line{
		min-height: 2px !important;
	}
@media (max-width: 786px){
	.bs-stepper .step-trigger{
		flex-direction: inherit !important;
	}
	.bs-stepper{
		padding-left: 20px !important;
		padding-right: 20px !important;
		padding-top: 20px !important;
	}
	.bs-stepper .step-trigger{
		padding: 0px !important;
		padding-top: 0px !important;
		
	}	
	.step-trigger{
		font-size: 9px !important;
	}
	
	.bs-stepper-label{
		margin:0px !important;
		display: none;
	}	
	.step-trigger:focus .bs-stepper-label{
		display: block;
	}	
	.bs-stepper-circle{	
		font-size:15px;
	}
	.line{
		min-height: 1px !important;
	}
}

.fatbl{
	margin: 4px;
	font-size: 25px !important;
}
